.game-screen {
  min-height: 100dvh;
  background-color: rgb(0 0 0);
  background-image: url("../assets/images/game.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.game-screen__game-data-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.game-screen__turn,
.game-screen__best-score {
  background-image: url("../assets/images/game-screen-data-container.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.75em;
  border-radius: 16px;
  padding: 0.5em 0.65em;
  font-size: min(calc(0.9dvw + 1.8dvh), 1.5em);
  letter-spacing: 10px;
  color: rgb(140, 133, 112);
  box-shadow: 0 0 7.5px 2px rgb(140, 133, 112) inset;
}

.game-screen__potions-container {
  width: 68dvh;
  height: 79dvh;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.game-screen__potion {
  position: absolute;
  background-color: rgb(0 0 0 / 0.25);
  filter: blur(20px);
}

.game-screen__potion:hover {
  cursor: pointer;
}

.game-screen__potion-0,
.game-screen__potion-1 {
  top: 22%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
}

.game-screen__potion-0 {
  width: 29dvh;
  height: 17.5dvh;
}

.game-screen__potion-1 {
  width: 28dvh;
  height: 17dvh;
  right: 6.5%;
}

.game-screen__potion-2,
.game-screen__potion-3 {
  width: 27dvh;
  height: 18dvh;
  bottom: 0.45%;
  border-top-left-radius: 103px;
  border-top-right-radius: 103px;
  border-bottom-left-radius: 158px;
  border-bottom-right-radius: 158px;
}

.game-screen__potion-2 {
  left: 2%;
}

.game-screen__potion-3 {
  right: 7.1%;
}

.particle {
  position: fixed;
  top: 0;
  opacity: 0;
  pointer-events: none;
  background-image: url("../assets/images/particle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 768px) {
  .game-screen {
    background-size: auto 75%;
  }

  .game-screen__potions-container {
    width: 51dvh;
    height: 59dvh;
  }

  .game-screen__potion-0 {
    width: 21.5dvh;
    height: 13dvh;
  }

  .game-screen__potion-1 {
    width: 21dvh;
    height: 13dvh;
    right: 6%;
  }

  .game-screen__potion-2,
  .game-screen__potion-3 {
    width: 20dvh;
    height: 13dvh;
  }
}

@media (max-width: 512px) {
  .game-screen {
    background-size: auto 61.5%;
  }

  .game-screen__potions-container {
    width: 42dvh;
    height: 48dvh;
  }

  .game-screen__potion-0 {
    width: 17.8dvh;
    height: 10.5dvh;
  }

  .game-screen__potion-1 {
    width: 17.5dvh;
    height: 10.5dvh;
  }

  .game-screen__potion-2,
  .game-screen__potion-3 {
    width: 16.5dvh;
    height: 10.5dvh;
  }
}
