@font-face {
  font-family: KochAltschrift;
  src: url("../assets/fonts/KochAltschrift.ttf");
}

:root {
  font-size: 22px;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: KochAltschrift;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}
