.main-menu {
  min-height: 100vh;
  background-color: rgb(0 0 0);
  background-image: url("../assets/images/main-menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.main-menu__elems-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding-block-start: 2em;
}

.main-menu__title {
  margin: 0;
  letter-spacing: 10px;
  color: rgb(249, 178, 35);
  text-shadow: 0 5px 7px rgb(249, 178, 35);
}

.main-menu__play-btn {
  cursor: pointer;
  font-weight: 700;
  border: none;
  border-radius: 16px;
  padding: 0.5em 1em;
  letter-spacing: 2px;
  color: rgb(249, 178, 35);
  background-color: rgb(0 0 0 / 0.5);
  box-shadow: 0 5px 10px rgb(249 178 35 / 0.5);
  transition: box-shadow 0.5s;
}

.main-menu__play-btn:hover {
  box-shadow: 0 5px 10px rgb(249 178 35 / 0.85);
}
