.sound-switch {
  width: calc(1.25vw + 2.5vh);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.75em;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: scale 0.5s;
}

@media (hover: hover) {
  .sound-switch:hover {
    cursor: pointer;
    scale: 0.85;
  }
}
