.game {
  min-height: 100vh;
  background-color: rgb(0 0 0);
  background-image: url("./assets/images/game.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.game__potions-container {
  width: 68vh;
  height: 79vh;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.game__potion {
  position: absolute;
  background-color: rgb(0 0 0 / 0.25);
}

.game__potion:hover {
  cursor: pointer;
}

.game__potion-0,
.game__potion-1 {
  top: 22%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
}

.game__potion-0 {
  width: 29vh;
  height: 17.5vh;
  left: 0.3%;
}

.game__potion-1 {
  width: 28vh;
  height: 17vh;
  right: 6.5%;
}

.game__potion-2,
.game__potion-3 {
  width: 27vh;
  height: 18vh;
  bottom: 0.45%;
  border-top-left-radius: 103px;
  border-top-right-radius: 103px;
  border-bottom-left-radius: 158px;
  border-bottom-right-radius: 158px;
}

.game__potion-2 {
  left: 2%;
}

.game__potion-3 {
  right: 7.1%;
}

.particle {
  position: fixed;
  top: 0;
  opacity: 0;
  pointer-events: none;
  background-image: url("./assets/images/particle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.game__defeat-dialog {
  max-width: 600px;
  border: none;
  background-color: transparent;
}

.game__defeat-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
}

.game__defeat-dialog:open {
  animation: fade-in 0.5s ease-out;
}

.game__defeat-dialog:focus-visible {
  outline: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
    display: none;
    transform: scaleY(0);
  }

  to {
    opacity: 1;
    display: block;
    transform: scaleY(1);
  }
}

.game__defeat-dialog__elems-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.game__defeat-dialog__txt {
  margin-block-start: 0;
}

.game__defeat-dialog__btn {
  cursor: pointer;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
  background-color: transparent;
  border: none;
  border-radius: 16px;
  padding: 0.25em 1em;
  transition: box-shadow 0.5s;
}

.game__defeat-dialog__btn:hover {
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.85);
}
